<div>
    <center>
        <div class="col-md-9" style="background-color:#e8e8e8; height: 780px;">

            <form method="Post">
                <div class="col-md-10">
                    <br /><br />
                    n:  <input type="text" class="col-2" name="n"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    p:  <input type="text" class="col-2" name="p">
                    <br /><br /><br />
                    <button type="submit" class="btn btn-secondary" style="float: none;" onclick="arranjo()" asp-action="arranjo">CALCULAR</button>
                    <br /><br /><br /><br />
                    <label for="exampleFormControlTextarea1"> Resultado:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="12" style="width:80%" readonly> @ViewBag.resultado</textarea>
                </div>
            </form>
        </div>
    </center>
</div>