<div>
    <center>
        <div class="col-md-9" style="background-color:#e8e8e8; height: 780px;">

            <form method="Post">
                <div class="col-md-10">
                    <br /><br />
                    Resistencia Eletrica:  <input type="text" placeholder="(em Ω)" class="col-2" name="resistenciaEletrica"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    Intensidade Corrente:  <input type="text" placeholder="(em mA)" class="col-2" name="intensidadeCorrente">
                    <br /><br /><br />
                    <button type="submit" class="btn btn-secondary" style="float: none;" onclick="eletricidade()" asp-action="eletricidade">CALCULAR</button>
                    <br /><br /><br /><br />
                    <label for="exampleFormControlTextarea1"> Resultado:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="12" style="width:80%" readonly> @ViewBag.resultado</textarea>
                </div>
            </form>
        </div>
    </center>
</div>